@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --white: white;
    --secondary-colors: #36454F;
    --gold:#ffba6b;
    --mallet:#181818;
    --font1:'Belgan Aesthetic';
    --font2:'stone orgonite';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-x: hidden;
}
.nav{
    height: 15%;
    width: 80%;
    display: flex;
    position: absolute;
    top:1%;
    justify-content: space-between;
    left: 10%;
    z-index: 2;
}
.logo-div{
    display: flex;
    cursor: pointer;
}
.logo{
    width: 50px;
}
.logo-text{
    color: var(--white);
    font-family: var(--font2);
    position: absolute;
    top: 50%;
    left: 6%;
}
.sign{
    height: 30%;
    width: 11%;
    background: transparent;
    border: 1px solid;
    border-color: var(--white);
    color: var(--white);
    border-radius: 30px;
    transition: 0.3s;
    padding: 0px 10px;
    position: absolute;
    right: 10%;
    top: 30%;
    cursor: pointer;
}
.sign:hover{
    background:var(--white);
    border-color:var(--white);
    color: black;
    font-weight: 500;
}
.menu{
    height: 30%;
    transform: translate(-50%,100%);
    top: 70%;
    cursor: pointer;
}
.menu-div{
    background-color: rgba(0,0,0,0.71);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 9;
    transition: 1s;
    overflow: hidden;
}
.plant-tree-steps a {
    text-decoration: none;
    color: var(--mallet);
}
.back{
    color: var(--white);
    word-spacing: 2px;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor : pointer;
}
li{
    padding: 15px;
    font-size: 20px;
}
li a{
    text-decoration: none;
    color: #808080;
    transition: 0.3s all;
}
.home a{
    color: var(--white);
}
li a:hover{
    margin-left: 20px;
}
ul{
    position: absolute;
    top: 30%;
    left: 5%;
    list-style: none;
    text-decoration: none;
}
.search{
    color: var(--white);
    background: rgba(219, 219, 219, 0.41);
    position: absolute;
    top: 20%;
    border: none;
    left: 5%;
    width: 30%;
    padding : 5px 50px 5px 20px;
    border-radius: 20px;
}
.black-top{
    height: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    position: absolute;
    top: 0;
    left: 0;
}
.head-img{
    position: absolute;
    top: 30%;
    right: -13%;
}
h1{
    color: var(--white);
    font-family: var(--font1);
    position: absolute;
    top: 20%;
    font-size: 3rem;
    left: 4%;
    font-weight: 100;
}
.h1-headline{
    color: gray;
    position: absolute;
    left: 4%;
    top: 30%;
}
.see-products{
    color: var(--white);
    position: absolute;
    font-size: 20px;
    left: 4%;
    top: 45%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
.about-website{
    color: grey;
    position: absolute;
    font-size: 12px;
    cursor: pointer;
    left: 4%;
    transition: 0.5s;
    top: 50%;
    background-color: transparent;
}
.about{
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 40%;
    left: 35%;
    color: gray;
}
.about-para{
    color: var(--white);
    width: 30%;
    top: 45%;
    left: 35%;
    position: absolute;
}
.line{
    height: 1px;
    width: 60%;
    position: absolute;
    left: 4%;
    top: 64%;
    background-color: grey;
}
h2{
    font-family: var(--font1);
    color: var(--white);
    position: absolute;
    top: 68%;
    left: 4%;
    font-size: 3rem;
    font-weight: 100;
}
.explore-para{
    color: var(--white);
    position: absolute;
    left: 4%;
    top: 80%;
}
.see-products-btn{
    height: 5%;
    width: 15%;
    background: transparent;
    border: 1px solid;
    border-color: var(--white);
    color: var(--white);
    border-radius: 30px;
    transition: 0.3s;
    padding: 0px 0px;
    position: absolute;
    top: 90%;
    left: 4%;
    cursor: pointer;
}
.see-products-btn:hover{
    background:var(--white);
    border-color:var(--white);
    color: black;
    font-weight: 500;
}
.white-middle{
    position: absolute;
    top: 200%;
    left: 0;
    height: 150%;
    width: 100%;
    background-color: var(--white);
}
h4{
    font-family: 'Heebo',sans-serif;
    font-size: 4rem;
    position: absolute;
    left: 3%;
    top: 5%;
    color: black;
}
.h4-para{
    position: absolute;
    top: 20%;
    font-size: 20px;
    right: 5%;
    text-align: left;
    color: black;
    width: 60%;
}
.h4-para-down{
    width: 30%;
    top: 60%;
    left: 3%;
    position: absolute;
}
.h4-btn-down{
    height: 3%;
    width: 25%;
    background: transparent;
    border: 1px solid;
    border-color: black;
    color: black;
    border-radius: 30px;
    transition: 0.3s;
    padding: 5px 5% 5px 5%;
    position: absolute;
    left: 3%;
    bottom: 5%;
    cursor: pointer;
}
.h4-btn-down:hover{
    background:black;
    border-color:black;
    color: var(--white);
    font-weight: 500;
}
.white img{
    filter: saturate(0);
    position: absolute;
}
.img1{
    height: 30%;
    object-fit: cover;
    width: 20%;
    bottom: 2%;
    left: 40%;
    filter: saturate(0.5);
    position: absolute;
    object-position: 20% 0%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.img2{
    height: 20%;
    object-fit: cover;
    width: 20%;
    bottom: 25%;
    left: 55%;
    filter: saturate(0.6);
    position: absolute;
    object-position: 20% 0%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.img3{
    height: 20%;
    object-fit: cover;
    width: 20%;
    bottom: 35%;
    left: 33%;
    z-index: 2;
    filter: saturate(0.5);
    position: absolute;
    object-position: 20% 0%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.img4{
    height: 30%;
    object-fit: cover;
    width: 20%;
    bottom: 2%;
    right: 8%;
    filter: saturate(0.5);
    position: absolute;
    object-position: 20% 0%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.cream{
    height: 100%;
    width: 100%;
    background-color: #D8D2BF;
    position: absolute;
    top: 100%;
    left: 0;
}
.our-services{
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    left: 3%;
    top: 10%;
}
h3{
    font-family: 'Heebo',sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 25%;
    left: 3%;
}
h3 .img-h3{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-top: 10%;
}
.numbers{
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 15%;
}
.add{
    position: absolute;
    left: 3%;
    top: 14%;
    cursor: pointer;
}
.no-div-head{
    position: absolute;
    left: 10%;
    top: 6%;
    font-family: 'Heebo',sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.no-div-para{
    position: absolute;
    left: 10%;
    top: 40%;
}
.div1{
    height: 33.33%;
    width: 100%;
    border-bottom: 1px solid black;
    border-width: 110%;
    position: relative;
}
.div3{
    border-bottom: none;
}
.down-para{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 12px;
}
.cream-btn{
    height: 6%;
    width: 25%;
    background: transparent;
    border: 1px solid;
    border-color: black;
    color: black;
    border-radius: 30px;
    transition: 0.3s;
    padding: 5px 5% 5px 5%;
    position: absolute;
    left: 3%;
    bottom: 30%;
    cursor: pointer;
}
.cream-btn:hover{
    background:black;
    border-color:black;
    color: var(--white);
}
.tri-color-middle{
    height: 100%;
    width: 100%;
    top: 350%;
    left: 0;
    position: absolute;
}
.tri-color-div{
    height: 100%;
    width: 33.33%;
}
.white-tri-color{    
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}
.welcome{
    color: var(--white);
    position: absolute;
    left: 5%;
    top: 5%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
h5{
    color: var(--white);
    position: absolute;
    top: 15%;
    left: 5%;
    font-family: 'Heebo',sans-serif;
    font-size: 35px;
}
.h5-para-bottom{
    position: absolute;
    left: 5%;
    bottom: 7%;
    color: var(--white);
}
span3{
    color: #a19d92;
}
.h5-2{
    text-align: right;
    right: 5%;
    color: black;
}
.sign-in-cream{
    color: black;
    position: absolute;
    right: 5%;
    top: 5%;
    height: 5%;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 1px solid black;
}
h6{
    color:black;
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 3rem;
    font-family: 'Heebo',sans-serif;
}
.middle-tri-color{
    background-color: transparent;
    top: 0;
    left: 33.33%;
    position: absolute;
}
.middle-img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    left: 0;
}
.cream-tri-color{    
    background-color: #D8D2BF;
    position: absolute;
    top: 0;
    right: 0;
}
.product{
    color: var(--white);
    position: absolute;
    bottom: 8%;
    left: 30%;
}
.product-btn{
    height: 4%;
    width: 50%;
    background: transparent;
    border: 1px solid;
    border-color: var(--white);
    color: var(--white);
    border-radius: 30px;
    transition: 0.3s;
    padding: 2px 5% 5px 5%;
    position: absolute;
    left: 25%;
    bottom: 3%;
    cursor: pointer;
}
.product-btn:hover{
    background:var(--white);
    border-color:var(--white);
    color: black;
}
.outer{
    background-color: var(--mallet);
    width: 100%;
    height: 90%;
    position: absolute;
    top: 450%;
    left: 0;
}
.outer-img{
    height: 50%;
    width: 45%;
    position: absolute;
    top: 10%;
    left: 4%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    object-position: 50% 70%;
}
h10{
    color: var(--white);
    font-size: 4rem;
    position: absolute;
    right: 3%;
    top: 7%;
    font-family: var(--font1);
}
.outer-para{
    color: var(--white);
    position: absolute;
    top: 40%;
    left: 52%;
    font-size: 22px;
}
.outer-btn{
    height: 7%;
    width: 11%;
    background: transparent;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: 0.3s;
    padding: 0px 10px;
    position: absolute;
    left: 52%;
    cursor: pointer;
    top: 55%;
    transition : 0.5s
}
.outer-btn:hover{
    border-color: var(--white);
    color: black;
    background: var(--white);
}
.social-medias{
    position: absolute;
    height: 15%;
    width: 60%;
    left: 1%;
    top: 80%;
    display: flex;
}
.yt{
    width: 20%;
}
.social-head{
    color: #ffffff;
    position: absolute;
    top: 75%;
    left: 4%;
    font-size: 15px;
}
.social-icon{
    padding: 10px;
    width: 15%;
    height: 90%;
    cursor: pointer;
}
.logo-div2{
    position: absolute;
    right: 5%;
    width: 30%;
    height: 20%;
    top: 70%;
    display: flex;
    cursor: pointer;
}
.logo-text2{
    font-family: var(--font1);
    position: absolute;
    top: 37%;
    left: 28%;
    color: var(--white);
    font-size: 30px;
}
.outer-line{
    width: 90%;
    position: absolute;
    left: 5%;
    background-color: #242729;
    height: 2px;
    top: 66%;
}
.verticle-line{
    background-color: #242729;
    width: 2px;
    height: 20%;
    left: 49%;
    top: 75%;
    position: absolute;
}
.copyright{
    color: var(--white);
    position: absolute;
    top: 110%;
    left: -10%;
    width: 150%;
}